<section class="container">

  <p>
    This is what I'm all about.
    <a href="" (click)="sendMeHome()">
      <strong>Take me back</strong>
    </a>
  </p>

  <ul>
    <li *ngFor="let goal of items">
      {{ goal.name}}
      {{ goal.price}}
      {{ goal.amount}}
      {{ goal.type}}
      {{ goal._id }}
    </li>
  </ul>
</section>
